div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #006994;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #006994;
    font-size: 16px;
    margin: 10px;
    display: inline-block;
}
.evilbutton {
    background-color: #ff0000;
    outline: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border-color: #ff0000;
    font-size: 16px;
    margin: 10px;
    display: inline-block;
}